@use "../variables";

.contact {
    padding: 10px 0px;
    background-image: linear-gradient(
            248deg,
            rgba(104, 104, 104, 0.05) 0%,
            rgba(104, 104, 104, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 99.999%
        ),
        linear-gradient(
            48deg,
            rgba(104, 104, 104, 0.05) 0%,
            rgba(104, 104, 104, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 99.999%
        ),
        linear-gradient(
            158deg,
            rgba(104, 104, 104, 0.05) 0%,
            rgba(104, 104, 104, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 99.999%
        ),
        linear-gradient(90deg, rgba(255, 90, 142, 0.597), rgba(252, 23, 103, 0.819));

    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
    }

    &__layout {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 2rem;
        flex-wrap: wrap;

        @media (max-width: variables.$breakpoint-md) {
            flex-direction: column;
        }
    }

    &__card {
        flex: 1 1 45%;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h3 {
            font-size: 1.8rem;
            margin-bottom: 1rem;
            text-align: center;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 0.5rem;

            body.light & {
                color: variables.$color-primary-light;
            }
            body.dark & {
                color: variables.$color-secondary-dark;
            }
        }

        p {
            font-size: 1rem;
            margin-bottom: 0.8rem;
            line-height: 1.6;
            body.light & {
                color: variables.$color-text-secondary-light;
            }
            body.dark & {
                color: variables.$color-text-secondary-dark;
            }
        }

        body.light & {
            background-color: variables.$color-background-light;
        }
        body.dark & {
            background-color: variables.$color-background-secondary-dark;
        }

        @media (max-width: variables.$breakpoint-md) {
            width: 100%;
        }
    }

    &__map {
        flex: 1 1 45%;
        iframe {
            width: 100%;
            height: 400px;
            border-radius: 8px;
            @media (max-width: variables.$breakpoint-md) {
                height: 250px;
            }
        }

        @media (max-width: variables.$breakpoint-md) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__form {
        flex: 1 1 45%;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        body.light & {
            background-color: variables.$color-background-light;
        }
        body.dark & {
            background-color: variables.$color-background-secondary-dark;
        }

        @media (max-width: variables.$breakpoint-md) {
            width: 100%;

            .btn-submit {
                width: 100%;
            }
        }

        h3 {
            font-size: 1.8rem;
            margin-bottom: 1rem;
            text-align: center;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 0.5rem;
            body.light & {
                color: variables.$color-primary-light;
            }
            body.dark & {
                color: variables.$color-secondary-dark;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input,
            textarea {
                width: 100%;
                padding: 0.8rem;
                margin: 0.8rem 0;
                border-radius: 5px;
                border: 1px solid #ccc;
                font-size: 1rem;
                transition: all 0.3s ease;
                font-family: variables.$font-primary;

                body.light & {
                    background-color: variables.$color-background-light;
                    color: variables.$color-text-secondary-light;
                }
                body.dark & {
                    background-color: #0000003d;
                    color: white;
                }
            }

            textarea {
                resize: none; /* Prevents resizing */
            }

            input:focus,
            textarea:focus {
                outline: none;
                border-color: variables.$color-button-background;
            }

            .btn-submit {
                color: variables.$color-background-light;
                font-size: 1rem;
                padding: 0.8rem 2rem;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease;
                body.light & {
                    background-color: variables.$color-button-background;
                }
                body.dark & {
                    background-color: variables.$color-secondary-dark;
                }

                &:hover {
                    background-color: variables.$color-button-background-hover;
                    transform: translateY(-2px);
                    box-shadow: 0 4px 12px rgba(variables.$color-primary, 0.2);
                }
            }
        }
    }

    h2 {
        font-size: 2.5rem;
        color: variables.$color-primary-light;
        margin-bottom: 2rem;
    }
}
