@use "../variables";
.arrivals {
    padding: 40px 0px;
    background-image: linear-gradient(
            248deg,
            rgba(104, 104, 104, 0.05) 0%,
            rgba(104, 104, 104, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 99.999%
        ),
        linear-gradient(
            48deg,
            rgba(104, 104, 104, 0.05) 0%,
            rgba(104, 104, 104, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 99.999%
        ),
        linear-gradient(
            158deg,
            rgba(104, 104, 104, 0.05) 0%,
            rgba(104, 104, 104, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 33.333%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 66.666%,
            rgba(12, 12, 12, 0.05) 99.999%
        ),
        linear-gradient(90deg, rgba(255, 90, 142, 0.597), rgb(255, 56, 132));

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 16px;
    }

    &__carousel {
        max-width: 1140px;
        margin: 0 auto;
        padding: 40px 16px;

        .slick-slide {
            padding: 0 16px;
        }

        .slick-list {
            margin: 0 -16px;
        }
    }

    &__banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        background-color: variables.$color-background;
        border-radius: 10px;
        box-shadow: 0 6px 20px rgba(variables.$color-primary, 0.08);
        transition: transform 0.3s ease;

        body.light & {
            background-color: variables.$color-background-light;
        }

        body.dark & {
            background-color: variables.$color-background-secondary-dark;
        }
    }

    &__image {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        height: 320px;
        margin-bottom: 16px;
        box-shadow: 0 10px 20px rgba(variables.$color-primary, 0.12);

        @media (prefers-color-scheme: dark) {
            filter: brightness(0.9);
        }

        @media (max-width: variables.$breakpoint-md2) {
            height: 360px;
        }

        @media (max-width: variables.$breakpoint-md) {
            height: 300px;
        }

        @media (max-width: variables.$breakpoint-sm) {
            height: 250px;
        }
    }

    &__content {
        text-align: center;
        padding: 8px 16px;
        max-width: 700px;
        margin: 0 auto;
    }

    &__title {
        font-size: 28px;
        margin-bottom: 8px;
        font-weight: bold;
        color: variables.$color-secondary-dark;

        @media (max-width: variables.$breakpoint-md2) {
            font-size: 24px;
        }

        @media (max-width: variables.$breakpoint-md) {
            font-size: 20px;
        }

        @media (max-width: variables.$breakpoint-sm) {
            font-size: 18px;
            margin-bottom: 4px; // Reduced margin for smaller screens
        }
    }

    &__description {
        font-size: 16px;
        margin-bottom: 24px;
        line-height: 1.6;

        @media (max-width: variables.$breakpoint-md) {
            font-size: 14px;
        }

        @media (max-width: variables.$breakpoint-sm) {
            font-size: 12px;
            margin-bottom: 16px; // Reduced margin for smaller screens
        }
    }

    &__button {
        display: inline-block;
        background-color: variables.$color-button-background;
        color: variables.$color-background-light;
        padding: 12px 24px;
        text-decoration: none;
        font-size: 14px;
        font-weight: variables.$font-weight-medium;
        border-radius: 8px;
        transition: all 0.3s ease;

        &:hover {
            background-color: variables.$color-button-background-hover;
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(variables.$color-primary, 0.2);
        }

        @media (max-width: variables.$breakpoint-sm) {
            padding: 8px 16px;
            font-size: 12px;
        }
    }
}

:global {
    .slick-dots {
        bottom: -40px;

        li button:before {
            color: variables.$color-primary;
            opacity: 0.3;
        }

        li.slick-active button:before {
            color: variables.$color-primary;
            opacity: 1;
        }
    }
}
