@use "variables";

// ============================
// RESET DEFAULT STYLES
// ============================
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:
        background-color 1.4s ease,
        color 0.4s ease;
}

// ============================
// GLOBAL STYLES
// ============================
html {
    font-family: variables.$font-primary;
    line-height: variables.$line-height;
    font-synthesis: variables.$font-synthesis;
    text-rendering: variables.$text-rendering;
    -webkit-font-smoothing: variables.$font-smoothing;
    -moz-osx-font-smoothing: variables.$font-smoothing;

    // Set the base font size for rem calculations
    font-size: variables.$font-size-base;

    // Media queries for responsive font size adjustments
    @media (max-width: variables.$breakpoint-md) {
        font-size: variables.$font-size-md; // Adjust font size for medium screens
    }
    @media (max-width: variables.$breakpoint-sm) {
        font-size: variables.$font-size-sm; // Adjust font size for smaller screens
    }
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // Dark mode styles
    &.dark {
        background-color: variables.$color-background-dark;
        color: variables.$color-text-dark;
    }

    // Light mode styles
    &.light {
        background-color: variables.$color-background-light;
        color: variables.$color-text-light;
    }
}

// ============================
// LINK STYLES
// ============================
a {
    font-weight: variables.$font-weight-medium;
    text-decoration: none;
}

// ============================
// BUTTON STYLES
// ============================
button {
    border-radius: 8px;
    border: none;
    padding: variables.$spacing-small variables.$spacing-medium;
    font-size: 1.1em;
    font-weight: variables.$font-weight-medium;
    cursor: pointer;
    transition: all 0.4s;
}
